::selection {
    @apply bg-black text-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply leading-tight mb-4 mt-8 text-gray-900;

    &:first-child {
        @apply mt-0;
    }
}

pre {
    @apply bg-indigo-100 leading-snug mt-2 mb-6 overflow-x-auto p-0 text-base border-b-4 border-gray-300;

    code {
        @apply bg-transparent block px-4;

        &::before{
            content: '';
        }

        &::after{
            content: '';
        }
    }
}

code {
    color: #f81ce5;

    &::before{
        content: '\`';
    }

    &::after{
        content: '\`';
    }
}

code.hljs {
    @apply bg-transparent px-4 py-4;

    .hljs-comment,
    .hljs-keyword,
    .hljs-meta {
        @apply font-normal not-italic;
    }
}