@tailwind base;
@tailwind components;
@tailwind utilities;

#gatsby-focus-wrapper{
    @apply flex flex-col min-h-screen;
}

a{
    @apply duration-100 transform;
}

p{
    @apply leading-relaxed;
}

h1{
    font-family: 'Merriweather', serif;
}

.prose {
    .shiki{
        @apply border border-b-4 border-gray-300;
    }

    // .gatsby-resp-image-image{
    //     @apply rounded-sm;
    //     box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
    // }
}